body {
  padding-top: 5rem;
  background-color: #F5F6FA;
}
.starter-template {
  /* padding: 3rem 1.5rem; */
  padding: 1.5rem 1.5rem;
  text-align: center;
}


/* h3 {
  color: white;
  font-family: Arial, Verdana;
}
p {
  color: white;
  font-family: Arial, Verdana;

} */

/* a:link {
color: white; 
background-color: transparent; 
text-decoration: none;
}

a:visited {
color: #F5F6FA;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: #FF8800;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: #F1C410;
background-color: transparent;
text-decoration: underline;
} */
